.navbar {
  width: 100%;
  height: 70px;
  top: 0;

  display: flex;
  align-items: center;

  background-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0)
  );
  color: white;
  position: fixed;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-items > li {
  display: inline-block;
  margin: 10px;
}
.nav-items > li > p {
  font-weight: 700;
  display: inline-block;
  margin: 10px;
  color: rgb(16, 167, 16);
}

.nav-items > li > a:focus {
  display: inline-block;
  background-color: rgba(51, 51, 51);
  color: white;
}

.nav-items > li > a {
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  padding: 10px;

  color: lightgray;
}
