.footer-container {
  grid-row: 2/3;
  grid-column: 1/3;
  background-color: #181818;
  color: white;
  height: 90px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info {
  display: flex;
  padding: 5px;
  align-items: center;
}

.info > a {
  font-size: 12px;
  margin-left: 10px;
}

.player-duration {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.player-duration > a {
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 5px;
}

.range {
  width: 300px;
  height: 4px;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.player-actions {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 130px;
  padding: 0;
  list-style: none;
}

.player-actions > li > button,
.volume-actions > li > button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  padding: 0;
  width: 40px;
  height: 40px;
}

.volume {
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume-actions {
  display: flex;
  list-style: none;
}

.volume-duration {
  width: 150px;
  height: 40px;
  padding-top: 7px;

  text-align: center;
}
.volume-duration > input {
  width: 150px;
  height: 4px;
}

/* 
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range {
  margin-top: 10px;
}

.player-actions,
.sound,
.current {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  padding: 20px;
  align-items: center;
}

.player-actions > li > button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
}
.player-actions > li > button > svg {
  align-self: center;
}
.sound > li > button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  width: 32px;
  height: 32px;
} */
