.element {
  display: flex;
  padding: 10px;
  align-items: center;
  color: #b3b3b3;

  cursor: pointer;
  text-decoration: none;
}
.element:focus {
  color: white;
}
.title {
  display: block;
  margin-left: 10px;
  padding: 2px;
}

.icon > svg {
  display: block;
  padding: 0;
}

.element:hover {
  color: white;
  transition: ease-in 0.3s;
}
