.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  background-color: #282828;
  box-shadow: 0 5px 20px -6px rgb(0 0 0 / 75%);
  height: 250px;
  cursor: pointer;
}

.img {
  align-self: center;
  margin: 2px 0 16px 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 5px 20px -6px rgb(0 0 0 / 75%);
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b3b3b3;
}

.play-btn {
  cursor: pointer;
  display: none;
  padding: 0;
  margin-right: 4px;
  border: none;
  box-shadow: none;
  border-radius: 20px;
  color: #fff;
  background-color: #1db954;
  width: 40px;
  height: 40px;
}

.card-container:hover .play-btn {
  display: inline-block;
}

.play-btn:hover {
  z-index: 111;
  transform: scale(0.9);
}
